runtime: nodejs16
env_variables:
  DATABASE_PROVIDER: ${DATABASE_PROVIDER}

  MONGODB_URI: ${MONGODB_URI}
  MONGODB_DATABASE_NAME: ${MONGODB_DATABASE_NAME}

  MYSQL_HOST: ${MYSQL_HOST}
  MYSQL_PORT: ${MYSQL_PORT}
  MYSQL_USERNAME: ${MYSQL_USERNAME}
  MYSQL_PASSWORD: ${MYSQL_PASSWORD}
  MYSQL_DATABASE_NAME: ${MYSQL_DATABASE_NAME}